argon2==0.1.10
fastapi==0.136.1
numpy==2.4.5
opencv_python==4.13.0.92
opencv_python_headless==4.13.0.92
protobuf==7.34.1
pydantic==2.13.4
python-dotenv==1.2.2
python_jose==3.5.0
sqlmodel==0.0.38
ultralytics==8.4.50
uvicorn
